body {
  background-color: #1f1f1f;
}

.app {
  background-color: #1f1f1f;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  background-color: #3a3a3a;
  color: #fff;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #3e8e41;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
